.stateview {
  border: 1px dashed lightblue;
}
.example {
  border: 1px dashed red;
}
.stateview {
  border: 1px dashed lightblue;
}
.example {
  border: 1px dashed red;
}
.stateview {
  border: 1px dashed lightblue;
}
.example {
  border: 1px dashed red;
}
